workflows/cross_platform_distribution.json
{
  "name": "Cross-Platform Distribution",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "distribute-content",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "distribute-content-webhook"
    },
    {
      "parameters": {
        "functionCode": "// Extract platform and content info\nconst platform = items[0].json.platform;\nconst videoPath = items[0].json.video_path;\nconst caption = items[0].json.caption;\nconst adaptations = items[0].json.adaptations;\n\n// Platform-specific processing\nlet platformData = {};\n\nswitch(platform) {\n  case 'tiktok':\n    platformData = {\n      api_endpoint: 'https://open-api.tiktok.com/video/upload/',\n      aspect_ratio: adaptations.aspect_ratio || '9:16',\n      max_duration: adaptations.max_duration || 60,\n      caption: caption,\n      music_sync: adaptations.audio_sync\n    };\n    break;\n    \n  case 'instagram':\n    platformData = {\n      api_endpoint: 'https://graph.instagram.com/me/media',\n      aspect_ratio: adaptations.aspect_ratio || '9:16',\n      max_duration: adaptations.max_duration || 90,\n      caption: caption,\n      cover_time: 1 // First second as cover\n    };\n    break;\n    \n  case 'x':\n    platformData = {\n      api_endpoint: 'https://upload.twitter.com/1.1/media/upload.json',\n      aspect_ratio: adaptations.aspect_ratio || '16:9',\n      max_duration: adaptations.max_duration || 140,\n      tweet_text: caption\n    };\n    break;\n}\n\nreturn {\n  ...items[0].json,\n  platformData\n};"
      },
      "name": "Process Platform Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "command": "ffmpeg -i \"{{ $json.video_path }}\" -vf \"scale={{ $json.platformData.aspect_ratio === '9:16' ? '1080:1920' : $json.platformData.aspect_ratio === '1:1' ? '1080:1080' : '1920:1080' }}\" -t {{ $json.platformData.max_duration }} -c:v libx264 -preset fast -crf 23 \"{{ $json.video_path }}.{{ $json.platform }}.mp4\""
      },
      "name": "Adapt Video Format",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.platform }}",
              "value2": "tiktok"
            }
          ]
        }
      },
      "name": "Platform Router",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "url": "={{ $json.platformData.api_endpoint }}",
        "method": "POST",
        "authentication": "oAuth2",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "video",
              "value": "={{ $json.video_path }}.{{ $json.platform }}.mp4"
            },
            {
              "name": "caption",
              "value": "={{ $json.caption }}"
            }
          ]
        }
      },
      "name": "Upload to TikTok",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.platform }}",
              "value2": "instagram"
            }
          ]
        }
      },
      "name": "Instagram Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1050, 400]
    },
    {
      "parameters": {
        "url": "={{ $json.platformData.api_endpoint }}",
        "method": "POST",
        "authentication": "oAuth2",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "video_url",
              "value": "={{ $json.video_path }}.{{ $json.platform }}.mp4"
            },
            {
              "name": "caption",
              "value": "={{ $json.caption }}"
            },
            {
              "name": "media_type",
              "value": "REELS"
            }
          ]
        }
      },
      "name": "Upload to Instagram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [1250, 400]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "success"
            },
            {
              "name": "platform",
              "value": "={{ $json.platform }}"
            },
            {
              "name": "url",
              "value": "={{ $json.post_url || $json.media_url || 'uploaded' }}"
            }
          ]
        }
      },
      "name": "Success Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [1450, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Process Platform Data", "type": "main", "index": 0}]]
    },
    "Process Platform Data": {
      "main": [[{"node": "Adapt Video Format", "type": "main", "index": 0}]]
    },
    "Adapt Video Format": {
      "main": [[{"node": "Platform Router", "type": "main", "index": 0}]]
    },
    "Platform Router": {
      "main": [
        [{"node": "Upload to TikTok", "type": "main", "index": 0}],
        [{"node": "Instagram Check", "type": "main", "index": 0}]
      ]
    },
    "Upload to TikTok": {
      "main": [[{"node": "Success Response", "type": "main", "index": 0}]]
    },
    "Instagram Check": {
      "main": [
        [{"node": "Upload to Instagram", "type": "main", "index": 0}],
        [{"node": "Success Response", "type": "main", "index": 0}]
      ]
    },
    "Upload to Instagram": {
      "main": [[{"node": "Success Response", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "instanceId": "cross-platform-dist"
  },
  "tags": []
}